#alertsMountPlace {
	
	.alert {
	opacity: 1;

	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;

	}

	.hide {
		opacity: 0;	
	}
}