.mainContainer {
	margin-top: 50px;
}

.mainTransition-enter {
	opacity: 0.01;
}

.mainTransition-enter.mainTransition-enter-active {
	opacity: 1;
	transition: opacity .7s ease-in;
	-webkit-transition: opacity .7s ease-in;
}

.mainTransition-leave {
	opacity: 1;
}

.mainTransition-leave.mainTransition-leave-active {
	opacity: 0.01;
	transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.addButton {
	color: rgba(40,40,40, 0.5);
	font-size: 24px;
	width: 40px;
	height: 40px;
	padding: 3px;
	box-sizing: border-box;

	i {
		width: 24px;
		height: 24px;
	}
}