
#schedulerList {

	.noSchedulesInfo {
		width: 100%;
		padding-top: 30px;
		font-size: 18px;
		display: block;
		text-align: center;
	}

	.schedulerTable {
		margin-top: 15px;

		.wizard_rgb_color {
			display: inline-block;

			width: 14px;
			height: 14px;

			margin-left: 3px;
			margin-bottom: -2px;

			border-radius: 50%;
			border: solid 1px black;
		}
	}	

	small {
		margin: 0 20px 0 0;
	}

	.schedulerList--filters {
		display: inline-block;
		margin: 0;
		font-size: 16px;

		select {
			-webkit-appearance: none; 
			-moz-appearance: none;
			appearance: none;

			outline: none;
			border: none;
			border-bottom-width: medium;
			border-bottom-style: none;
			border-bottom: 1px solid rgba(0,0,0,.12);
			display: inline-block;
			font-size: 16px;
			margin: 0;
			margin-bottom: -2px;
			padding: 2px 0;
			background: 0 0;
			text-align: left;
			color: #666;
		}

		.schedulerList--filter-clear {
			cursor: pointer;
		}
	}
}

